/* stylelint-disable */
header .header-nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 20;
  position: fixed;
  top: 40px;
  padding: 2em 0;
  border-bottom: 1px solid var(--color-neutral-400);
}

@media (width < 768px) {
  header .header-nav-wrapper {
    padding: 0;
  }
}

header .header-nav-wrapper.minimized {
  padding: 0.75em 0;
  transition: padding-bottom .30s ease,padding-top .30s;
  box-shadow: 0 8px 20px 0 rgba(0 0 0 / 26%);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  margin: auto;
  max-width: var(--large-grid-layout);
  height: var(--nav-height);
  padding: 0 16px;
  font-family: var(--type-base-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 96vh;
}

@media (width >= 600px) {
  header nav {
    padding: 0 32px;
  }
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

@media (width < 900px) {
  header .header-nav-wrapper nav {
    height: unset;
  }
}

header .header-nav-wrapper .nav-brand {
  margin-right: 1.5em;
  margin-top: 0.75rem;
}

@media (width < 900px) {
  header .header-nav-wrapper .nav-brand {
    margin-left: 2rem;
  }
}

header nav p {
  margin: 0;
}

header nav a:any-link {
  color: currentcolor;
  font-size: var(--body-font-size-s);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--color-neutral-50);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header nav .nav-brand a {
  grid-area: brand;
  flex-basis: 128px;
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
}

header nav .nav-brand .icon {
  width: auto;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
  margin-bottom: 3px;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  margin-left: 5%;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
  gap: 0.5em;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

@media (width <=  1200px) {
  header nav .nav-sections {
    margin-left: 0px;
  }

  header nav .nav-sections ul {
    gap: 0.5em;
  }
}

@media (width < 768px) {
  header nav .nav-sections ul > li {
    margin: 15px 0;
  }
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li > p > a {
  padding: 1em 1.2em !important;
  background-color: unset !important;
  border-radius: unset !important;
  color: #000 !important;
}

header nav .nav-sections ul > li > p > a.active,
header nav .nav-sections ul > li > p > a:hover {
  text-decoration: none !important;
  background-color: var(--color-neutral-200) !important;
  color: var(--color-brand-700) !important;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
    font-size: 14px
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.7rem;
    right: 0.2rem;
    transform: rotate(135deg);
    width: 0.6rem;
    height: 0.6rem;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    margin: 0;
    align-items: center;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header
    nav
    .nav-sections
    .default-content-wrapper
    > ul
    > li[aria-expanded='true']
    > ul {
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--color-neutral-100);
    white-space: initial;
    border-radius: 4px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-neutral-100);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header .nav-tools-panel {
  z-index: 100;
  position: absolute;
  box-shadow: var(--shape-shadow-2);
  background: var(--background-color);
  right: 0;
  top: 40px;
  width: 550px;
  display: none;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2rem;
}

header .nav-tools-panel--show {
  display: block;
}

header nav .nav-tools {
  grid-area: tools;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  height: 100%;
}

header nav .nav-tools .minicart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .nav-tools > button,
header nav .nav-tools .minicart-wrapper > button {
  color: var(--color-brand-300);
  background: transparent;
  padding: 5px 10px;
  margin-left: 1em;
  height: 100%;
  border: unset;
  cursor: pointer;
}

header nav .nav-tools button.nav-cart-button {
  background-image: url(/icons/shopping-cart.svg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 20px;
  padding: 5px 15px;
  margin: 1rem;
  width: auto;
  height: 34px;
}

header nav .nav-tools button.nav-cart-button[data-count]::after {
  content: attr(data-count);
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-black-100);
  color: var(--color-neutral-100);
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  display: flex;
  align-items: center;
  font-size: 0.65em;
  justify-content: center;
}

header nav .nav-tools button.nav-search-button {
  font-size: 0;
  background-image: url('/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 20px;
  padding: 5px 15px;
  margin: 1rem;
  height: 34px;
}

header nav .nav-tools button.nav-search-button:hover,
header nav .nav-tools button.nav-cart-button:hover {
  background-color: var(--color-neutral-200);
  cursor: pointer;
}

header .nav-search-panel {
  padding: 1rem;
}

header .search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav-search-panel input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font: var(--type-headline-2-default-font);
  font-size: var(--body-font-size-xs);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  border: 1px solid currentcolor;
  appearance: none;
}

/* Mini Cart  */
.cart-mini-cart:not(:has(.cart-empty-cart)) {
  max-height: 760px;
  min-height: 360px;
}

.cart-mini-cart__heading-text::after {
  border-bottom: 2px solid var(--color-brand-600);
  content: "";
  display: block;
  padding-top: 10px;
  min-width: 84px;
  width: fit-content;
}

.cart-mini-cart__heading .cart-mini-cart__heading-divider{
  display: none;
}

.cart-mini-cart .cart-mini-cart__footer__ctas a {
  font-size: var(--body-font-size-md);
  width: auto;
}

.cart-mini-cart .cart-mini-cart__footer__ctas a.dropin-button--primary:hover {
  background-color: var(--color-brand-600);
}

.cart-mini-cart .cart-mini-cart__footer__ctas a.dropin-button--primary:active {
  background-color: var(--color-brand-700);
}

.cart-mini-cart .cart-empty-cart__actions a {
  width: auto;
}

.cart-mini-cart .dropin-cart-item__remove {
  color: var(--color-black-100);
}

header .nav-search-button:focus,
header .nav-cart-button:focus {
  background-color: unset;
}

header .nav-search-input .search-autocomplete .livesearch.product-result {
  grid-template-areas:
    "image productName"
    "image price";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 16px;
  align-self: center;
  height: 80px;
  min-width: 192px;
  box-sizing: inherit;
  display: grid;
  padding: unset;
}

header .nav-search-input .search_autocomplete .popover-container {
  width: 100%;
}

header .header > .default-content-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-black-100);
  height: 40px;
  color: var(--color-neutral-50);
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  gap: 2rem;
  box-sizing: border-box;
}

header .header .dropdown-wrapper button {
  margin: 0;
  padding: 3px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-size: var(--body-font-size-xxs);
  color: #fff;
  background: transparent;
  cursor: pointer;
}

header .header .dropdown-wrapper button:hover {
  text-decoration: solid underline var(--color-brand-700);
  text-underline-offset: 6px;
}

header .header > .default-content-wrapper p {
  margin: 0;
  padding: 3px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-size: var(--body-font-size-xxs);
}

header .header > .default-content-wrapper p:not(:last-of-type) .icon {
  width: 16px;
  height: 16px;
}

header .header > .default-content-wrapper p:last-of-type img {
  height: 100%;
  width: 26.55px;
}

/* auth modal */
header .nav-auth-modal-wrapper.not-authenticated {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(136, 33, 244, 1);
}

header .nav-auth-modal-wrapper.not-authenticated .nav-tools-panel {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .nav-auth-menu-panel .dropin-design .auth-sign-in > div {
  border-radius: 4px;
}

header .nav-auth-menu-panel .dropin-input-password {
  color: #000;
}

header .nav-auth-menu-panel button.dropin-button {
  color: inherit;
}

header .dropin-header-container.auth-sign-in-form__title {
  border-bottom: 1px solid var(--color-neutral-400);
  padding-bottom: 1.25rem;
}

header .dropin-input-password.auth-sign-in-form__form__password {
  margin-bottom: 0 !important;
}

header .auth-sign-in-form__form__buttons .auth-sign-in-form__form__buttons__combine {
  align-items: center;
  justify-content: flex-start !important;
}

header .auth-sign-in-form__form__buttons button span {
  color: var(--black-brand-500);
  text-transform: capitalize;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.28px;
}

header .auth-sign-in-form .dropin-button.auth-sign-in-form__button--submit {
  width: fit-content;
  margin-left: auto;
  display: flex;
  padding: 6px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--black-brand-500);
  color: #fff;
}

header .auth-sign-in-form .dropin-button.auth-sign-in-form__button--submit:hover {
  background-color: var(--color-brand-500);
  text-decoration: none;
}

header .auth-sign-in-form .dropin-button.auth-sign-in-form__button--submit span {
  color: #fff;
}

header .authenticated-user-menu {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

header .authenticated-user-menu li,
header .authenticated-user-menu li button {
  color: #000 !important;
  padding: .5rem .25rem;
  display: flex;
  justify-content: flex-end;
}

header .authenticated-user-menu li button {
  font-size: inherit !important;
  text-transform: capitalize !important;
  padding: 0 !important;
}

header .nav-auth-menu-panel.is-authenticated {
  width: fit-content;
  right: 100px;
}

/* If viewport height is below max, set max height to 90% of viewport */
@media (height < 768px) {
  .cart-mini-cart:not(:has(.cart-empty-cart)) {
    max-height: calc(100vh - var(--nav-height));
  }
}

@media (width > 768px) {
  header nav .nav-search-panel,
  header nav .minicart-panel {
    min-width: 398px;
    width: auto;
    left: unset;
    right: 0;
    top: 40px;
  }
}

@media (width <= 768px) {
  header .nav-search-input .search-autocomplete .products-container {
    grid-template-columns: unset;
  }

  header .nav-tools-panel {
    width: 100%;
  }
}

@media (width >= 1024px) {
  header nav .minicart-wrapper,
  header nav .search-wrapper {
    position: relative;
  }

  header .nav-search-input {
    left: unset;
    right: 20px;
  }

  header nav .minicart-panel,
  header nav .nav-search-panel {
    left: unset;
    right: 0;
  }
}
