.banner .wrapper{
  background-color: var(--color-brand-300);
  border-radius: 20px;
}

.banner .wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: white;
  padding: 4rem 3rem;
}

.banner p {
  margin: 0;
  text-align: center;
}

.banner p > a {
  margin: 0 !important;
}

.banner p:first-of-type {
  font-size: 22px;
}

@media (width >= 900px) {
  .banner .wrapper > div {
    padding: 8rem 3rem;
  }
}