.teaser {
  display: flex;
  align-items: stretch;
  /* max-height: 290px; */
  border-radius: 20px;
  box-sizing: border-box;
  background-color: var(--color-neutral-200);
  height: 100%;
}

.teaser p.button-container {
  margin: 0;
}

.teaser.align-right {
  display: flex;
  flex-direction: row-reverse;
}

.teaser .wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.teaser-img-col {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex: 1 1 40%;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 0 2px transparent;
}

.teaser-img-col img {
  height: 100%;
  width: 100%;
  max-height: 240px;
  object-fit: contain;
}

.teaser-img-col > div {
  padding: 1rem;
}

.teaser.align-right .teaser-img-col {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.teaser > div > div:not(.teaser-img-col) {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.teaser > div > div:not(.teaser-img-col) > div {
  box-sizing: border-box;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.teaser.bg-secondary > div:not(.teaser-img-col) {
  color: #000;
}

.teaser > div > div:not(.teaser-img-col) h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  margin-bottom: 1rem;
  width: 100%;
}

.teaser > div > div:not(.teaser-img-col) h3 a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  letter-spacing: inherit;
}

.teaser > div > div:not(.teaser-img-col) p:not(.button-container) {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  margin: 0;
}

@media (width <= 900px) {
  .teaser {
    flex-direction: column-reverse;
    max-height: 568px;
  }

  .teaser .teaser-img-col {
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    order: 1;
    padding-top: 2rem;
    flex: unset;
  }

  .teaser > div > div:not(.teaser-img-col) {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    flex: unset;
  }

  .teaser > div > div:not(.teaser-img-col) > div {
    text-align: center;
    padding: 3rem;
    align-items: center;
  }

  .teaser-img-col img {
    max-height: 150px;
  }
}

/* teaser - promo */
.teaser.promo {
  border: 5px solid var(--primary-color);
}

.teaser.promo > div:not(.teaser-img-col) {
  border-radius: 15px;
}