/* stylelint-disable no-empty-source */
/* stylelint-disable selector-class-pattern */
.product-details {
  margin-top: 0;
  margin-bottom: 0;
}

.product-details__wrapper {
  display: grid;
  grid-template-columns: repeat(var(--grid-1-columns), 1fr);
  grid-column-gap: var(--grid-1-gutters);
}

.product-details__left-column {
  display: none;
}

.product-details__right-column {
  grid-column: 1 / span 4;
  color: var(--color-neutral-800);
}

.product-details__alert {
  margin-bottom: var(--spacing-small);
}

.product-details__alert:empty {
  display: none;
}

.product-details__header {
  margin-bottom: var(--spacing-medium);
}

.product-details__price {
  margin-top: var(--spacing-medium);
}

.product-details__gallery .pdp-carousel {
  max-height: 60vh;
}

.product-details__gallery .pdp-carousel--thumbnailsRow {
  max-height: 80vh;
}

.product-details__gallery .pdp-overlay__content .pdp-carousel,
.product-details__gallery .pdp-overlay__content .pdp-carousel--thumbnailsRow {
  max-height: unset;;
}

.product-details__configuration {
  grid-column: 1 / span 4;
  display: grid;
  grid-auto-flow: row;
  gap: var(--grid-1-gutters);
  grid-auto-rows: max-content;
  margin-bottom: var(--spacing-xxbig);
  margin-top: var(--spacing-big);
}

.product-details__buttons {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--grid-1-gutters);
  grid-auto-rows: max-content;
  margin-top: 2rem;
}

.product-details__buttons > div {
  display: contents;
}

.product-details__attributes {
  margin-top: var(--spacing-xsmall);
}

.product-details__quantity button:disabled {
  background-color: transparent;
}

.pdp-price {
  margin-bottom: 2rem;
}

.pdp-price *,
.pdp-price .dropin-price {
  font-weight: 700;
  font-size: var(--body-font-size-lg);
}

.pdp-header .pdp-header__title {
  font-size: 36px;
  font-weight: 700;
}

.pdp-header .pdp-header__title::after {
  border-bottom: 2px solid var(--color-brand-500);
  content: "";
  display: block;
  padding-top: 8px;
  min-width: 84px;
  width: fit-content;
}

.pdp-header .pdp-header__sku {
  display: none;
}

.pdp-swatches .pdp-swatches__field__label {
  font-size: var(--body-font-size-xs);
  font-weight: 700;
}

/* pdp description */
.pdp-description,
.pdp-attributes {
  font-size: 14px;
}

.pdp-description h2 {
  font-size: var(--heading-font-size-md);
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.96px;
}

@media (width >= 900px) {
  .product-details__wrapper {
    grid-template-columns: repeat(var(--grid-3-columns), 1fr);
    grid-column-gap: var(--grid-3-gutters);
    position: relative;
  }

  .product-details__alert {
    grid-column: 1 / span 12;
    margin-bottom: var(--spacing-medium);
  }

  .product-details__left-column {
    display: block;
    grid-column: 1 / span 6;
  }
  
  .product-details__right-column {
    grid-column: 7 / span 5;
  }

  .product-details__right-column .product-details__gallery {
    display: none;
  }

  .product-details__configuration {
    grid-template-columns: repeat(var(--grid-1-columns), 1fr);
    grid-gap: var(--grid-1-gutters);
    margin-top: var(--spacing-xxbig);
  }

  .product-details__options {
    grid-column: 1 / span 4;
  }

  .product-details__buttons {
    grid-column: 1 / span 4;
  }

  .product-details__quantity {
    grid-column: 1 / span 2;
  }

  .pdp-price {
    margin-bottom: 0;
  }
}


/* toast notification */
#toast-container {
  position: fixed;
  z-index: 60;
  right: 15px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  visibility: hidden;
  max-width: 498px;
  min-height: 120px;
  width: 100%;
  background-color: #EFF5EF;
  border-left: 4px solid #53824C;
  color: #000;
  text-align: left;
  padding: 16px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s, top 0.5s;
  box-sizing: border-box;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.toast .toast-wrapper {
  position: relative;
}

.toast .toast-wrapper span {
  position: absolute;
  right: 0;
}

.toast .toast-wrapper div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.toast .toast-wrapper p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 3.5rem;
}

@media (width <= 768px) {
  #toast-container {
    right: 0;
    top: 0;
  }
}
